export('plot_correlation_of_entropy','plot_entropy_totalVariant_incidence',
       'plot_dynamics_of_diversityMotifs_proteome',
       'plot_dynamics_of_diversityMotifs_protein',
       'plot_conservationLevel', 'concat_conserved_kmer','json2csv')

import("tools", "Rcpp", "plyr", "dplyr", "tidyr", "stringr", "ggplot2",
    "ggpubr", "ggtext", "gghalves", "grid", "gridExtra", "pacman", "facetscales")
